<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Give Back | 404</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" href="https://jurikiin.com/KiinStyles/css/kiinStyle.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body class='body-gradient'> 
  <div>
    <img class='app-logo margin-left-5 f-left' src='/assets/img/logo.png' alt='App logo' />
  </div>

  <div class='center pad-5 bg-snow font-header'>
    <h1>Oops! Something went wrong.</h1>
    <h2>We can't find what you were looking for.</h2>
    <p class=' align-center margin-left-25 margin-right-25 margin-top-5 bor-none bg-silk rad-10p pad-10p snow pointer zoom'><a href='/home'>Return Home</a></p>
  </div>

  <p class='footer fixed font-text'>&copy; 2019 | Give Back</p>
  <div id="snackbar">Some text some message..</div>
</body>
</html>