html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: rgb(206,66,87);
    background: linear-gradient(90deg, rgba(206,66,87,1) 0%, rgba(255,155,84,1) 100%);
}

.app-logo {
    height:100px;
    width:100px;
    margin-top:40px;
}

#login-button {
    background-color: #FFF400;
    border-radius: 40px;
}
.nav-item{
    display:inline;
    padding: 10px 30px;
    color:#031D44;
    font-weight: bold;
    font-family: sans-serif;
}

a{
    color:inherit;
    text-decoration: none;
}

.mainForm {
    position: fixed;
    top:50%;
    left:50%;
    width: 25%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
    padding: 50px 5%;
    background-color: #ffffff;
    color: #031D44;
}

.mainForm h1 {
    text-align: center;
    color: #CE4257;
    font-size: 30px;
    font-family: sans-serif;
}

.mainForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.mainForm input[type='text'], .mainForm input[type='password'] {
    border: none;
    border-bottom: 2px solid black;
    padding-left: 2px;
    font-weight: bold;
    text-align: left;
    background-color: transparent;
    font-size: 20px;

}
.mainForm input[type='text']::placeholder, .mainForm input[type='password']::placeholder {
    color:#031D44;
}
.mainForm input[type='submit'] {
    padding: 10px;
    border-radius: 40px;
    background-color: #FFF400;
    margin: 25px 10% 0 10%;
    width: 80%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.mainForm > * {
    display: block;
}

.footer {
    color: #031D44;
}
.already {
    text-align: center !important;
    padding: 10px;
    color: #999999;
}